.CustomHomePage {
  background-color: white;
  background-size: cover;
  height: 100vh;
}
.nav-Container {
  background-color: #f1f5f9;
  height: 20%;
  display: flex;
  align-items: center;
}
.logo-image {
  width: 100px;
  height: 50px;
  margin-left: 30px;
}

.unorderContainer {
  display: flex;
  flex-wrap: wrap;
}

.imagelogo {
  width: 100px;
  height: 80px;
}

.courseHeading {
  margin-left: 20px;
}
